/*Mobile -Tablet*/
@media (max-width: 1024px) {}

/*Tablet*/
@media (min-width: 765px) and (max-width:1023px) {
    .header-box .header-box-row{
        padding: 0 10px;
    }
    .header-box .header-box-row .header-search-bottom .header-search-bottom_list{
        text-align: justify;
    }
    .header-box .header-box-row .header-search-bottom .header-search-bottom_list li a{
        font-size: 10px;
        padding: 0;
        margin: 0 4px;
    }

    .header-box .header-box-row .header-search-bottom .header-search-bottom_list li:last-child{
        display: none;
    }
    .header-box .header-box-row .header-icon .header-icon__list{
        width: auto;
    }
    .header-box .header-box-row .header-products{
        width: 45%;
        overflow-x: hidden;
    }
    .header-box .header-box-row .header-products .header-product img{
        width: 100px;
        height: 70px;
    }
    .header-box .header-box-row .header-icon .header-icon__list i,
    .header-box .header-box-row .header-icon .header-icon__list i a,
    .header-box .header-box-row .header-icon .header-icon__list:last-child i,
    .header-box .header-box-row .header-icon .header-icon__list:last-child span{
        font-size: 12px;
    }
    .header-box .header-box-row .header-icon .header-icon__list:last-child span{
        width: 14px;
        height: 14px;
        right: 2%;
    }
    .header-box .header-box-row .header-icon .header-icon__list:last-child i::after{
        height: 14px;
        left: -6px;
    }   
}

/*Mobile*/
@media (max-width:763px) {
    .header-box {
        padding: 8px 0;
    }

    .header-box .header-box-row .header-logo {
        text-align: center;
    }

    .header-box .header-box-row .header-icon {
        display: none;
    }

    .header-box .header-box-row .header-navbar-icon {
        font-size: 20px;
        left: 0;
        margin: 2px;
        display: block;
    }

    .header-box .header-box-row .header-navbar {
        display: block;
        font-size: 22px;
        width: 100%;
        height: 100%;
        background: var(--background-modal);
        left: 0;
        top: 0;
        z-index: 2;
    }

    .header-box .header-box-row .header-navbar .header-navbar-container {
        position: absolute;
        width: 180px;
        height: 30vh;
        background: tomato;
        padding: 6px;
        border-radius: 6px;
        top: 20px;
        transition: all linear 0.8s;
    }

    .header-box .header-box-row .header-navbar .header-navbar-container.left {
        animation: left linear 0.8s;
    }

    .header-box .header-box-row .header-navbar .header-navbar-container .header-navbar_list {
        display: flex;
        flex-direction: column;
        margin: 4px;
    }

    .header-box .header-box-row .header-navbar .header-navbar-container .header-navbar_list .btn {
        margin: 4px 0;
        font-size: 16px;
    }

    .header-box .header-box-row .header-search-bottom {
        display: none;
    }

    .header-box .header-box-row .header-product__modal .header-products {
        width: 90%;
        top: 14%;
        left: 4.8%;   
    }
    .header-box .header-box-row .header-product__modal .header-products .header-product{
        padding: 14px;
    }
    .header-box .header-box-row .header-product__modal .header-products .header-product img{
        width: 100px;
        height: 70px;
    }
    .category .category-list .list-for-you .services{
        display: none;
    }
    .category .filter-data .filter-products .product{
        text-align: center;
        padding: 4px 10px;
    }
    .category .filter-data .filter-products .product img{
        margin-top: 4px;
        border-radius: 8px;
    }
    .category .filter-data .filter-products .product .info-product{
        padding: 8px;
    }
    .category .filter-data .filter-products .product .info-product .name{
        width: 290px;
    }
    .category .filter-data .filter-products .product .info-product .evaluate{
        font-size: 14px;
    }
    .category .filter-data .filter-products .product .info-product .price{
        justify-content: center;
    }
    .category .filter-data .filter-products .product .info-product .price span{
        margin-left: 8px;
        color: var(--text-input);
    }
    .category .filter-data .filter-products .product .info-product button{
        font-size: 14px;
    }
    .category .filter-data .filter-products .product .info-product .delivery{
        justify-content: space-around;
    }
    .category .filter-data .filter-products .product .info-product .delivery img{
        margin: 0;
    }
    
}